* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-size: 100% 250px;
  font-family: "Josefin Sans", sans-serif;
  color: var(--placeholder-clr);
}

.head {
  color: white;
}

.light-theme {
  --bg-color: hsl(236, 33%, 92%);
  --bg-img: url("images/bg-desktop-light.jpg");
  --div-color: hsl(0, 0%, 98%);
  --txt-color: hsl(235, 19%, 35%);
  --border-clr: hsl(233, 11%, 84%);
  --placeholder-clr: hsl(234, 11%, 52%);
  --img_link: url("images/icon-moon.svg");
}

.dark-theme {
  --div-color: hsl(235, 24%, 19%);
  --bg-img: url("images/bg-desktop-dark.jpg");
  --bg-color: hsl(235, 21%, 11%);
  --txt-color: hsl(235, 19%, 35%);
  --border-clr: hsl(234, 11%, 52%);
  --placeholder-clr: hsl(234, 11%, 52%);
  --img_link: url("images/icon-sun.svg");
}
/* 
.light {
  background-color: hsl(236, 33%, 92%);
  background-image: url("images/bg-desktop-light.jpg");
  /* color: hsl(235, 21%, 11%); */
/* }
.lig {
  border-bottom: 1px solid hsl(236, 9%, 61%);
}
.lt { */
/* background-color: hsl(0, 0%, 98%); */
/* color: hsl(235, 19%, 35%);
  border-bottom: 1px solid hsl(233, 11%, 84%);
}  */

.theme {
  content: var(--img_link);
  height: 30px;
  width: 30px;
}

#nav {
  width: 30%;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}

.head {
  font-size: 32px;
  letter-spacing: 10px;
  font-weight: 700;
}

.input-field {
  width: 30%;
  margin: 10px auto;
  background-color: var(--div-color);
  padding: 17px 10px;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
}

.inp {
  background-color: transparent;
  border: none;
  width: 80%;
  color: var(--placeholder-clr);
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
}

.inp:focus {
  outline: none;
}

.btn {
  padding: 1px;
  border-radius: 50%;
  border: 1px solid var(--border-clr);
  background-color: transparent;
  margin: 0 20px 0 10px;
  cursor: pointer;
  transition: 0.3s;
  height: 25px;
  width: 25px;
}

@keyframes animat {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn:hover {
  animation: animat 1s linear infinite;
  border: 1px solid transparent;
  border-radius: 80px;
  background-image: linear-gradient(var(--div-color), var(--div-color)),
    linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* .light-btn {
  border-color: hsl(233, 11%, 84%);
}

.light-btn:hover {
  background-image: linear-gradient(hsl(0, 0%, 98%), hsl(0, 0%, 98%)),
    linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
} */

/* .btn::after {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
}

.btn button {
  padding: 10px;
}

.btn:hover {
  border-color: transparent;
  width: 12px;
  height: 12px;
  background-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  border-radius: 50%;
} */

::placeholder {
  color: hsl(234, 11%, 52%);
  font-size: 15px;
}

.btm {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: hsl(234, 11%, 52%);
  padding: 15px 10px 0px 10px;
  cursor: pointer;
  display: none;
}

#main {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 15px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 17px 10px;
  border-bottom: 1px solid var(--border-clr);
}

.descrip {
  margin-top: 3px;
}

.types {
  display: flex;
  justify-content: space-evenly;
}

.all,
.actv {
  padding: 0 8px;
}

.complete-btn {
  background-image: url("images/icon-check.svg"),
    linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center;
}

.complete-text {
  color: hsl(234, 11%, 52%);
  text-decoration-line: line-through;
}

.close-btn {
  position: sticky;
  transform: translateX(300px);
  display: none;
}

.disp {
  display: block;
}

.itm-left:hover,
.all:hover,
.actv:hover,
.cmpl:hover,
.clear:hover {
  color: hsl(220, 98%, 61%);
}

.all {
  color: hsl(220, 98%, 61%);
}

@media (max-width: 1337px) {
  .input-field,
  #nav {
    width: 35%;
  }
  .close-btn {
    left: 400px;
  }
}

@media (max-width: 1172px) {
  .input-field,
  #nav {
    width: 38%;
  }
  .close-btn {
    left: 400px;
  }
}

@media (max-width: 1092px) {
  .input-field,
  #nav {
    width: 40%;
  }
  .close-btn {
    left: 400px;
  }
}

@media (max-width: 1052px) {
  .input-field,
  #nav {
    width: 45%;
  }
  .close-btn {
    left: 400px;
  }
}

@media (max-width: 1011px) {
  .input-field,
  #nav {
    width: 53%;
  }
  .close-btn {
    left: 400px;
  }
}

@media (max-width: 960px) {
  .input-field,
  #nav {
    width: 60%;
  }
  .close-btn {
    left: 400px;
  }
}

@media (max-width: 931px) {
  .input-field,
  #nav {
    width: 65%;
  }
}
