* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(235, 21%, 11%);
  background-image: url("images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: 100% 250px;
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0, 0%, 98%);
}

#nav {
  width: 30%;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}

.head {
  font-size: 32px;
  letter-spacing: 10px;
  font-weight: 700;
}

.input-field {
  width: 30%;
  margin: 10px auto;
  background-color: hsl(235, 24%, 19%);
  padding: 17px 10px;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
}

.inp {
  background-color: transparent;
  border: none;
  width: 80%;
  color: hsl(234, 39%, 85%);
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
}

.inp:focus {
  outline: none;
}

.btn {
  padding: 1px;
  border-radius: 50%;
  border: 1px solid hsl(233, 14%, 35%);
  background-color: transparent;
  margin: 0 20px 0 10px;
  cursor: pointer;
  transition: 0.3s;
  height: 25px;
  width: 25px;
}

@keyframes animat {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn:hover {
  animation: animat 1s linear infinite;
  border: 1px solid transparent;
  border-radius: 80px;
  background-image: linear-gradient(#25273c, #25273c),
    linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* .btn::after {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
}

.btn button {
  padding: 10px;
}

.btn:hover {
  border-color: transparent;
  width: 12px;
  height: 12px;
  background-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  border-radius: 50%;
} */

::placeholder {
  color: hsl(234, 11%, 52%);
  font-size: 15px;
}

.btm {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: hsl(234, 11%, 52%);
  padding: 15px 10px 0px 10px;
  cursor: pointer;
}

#main {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 15px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 17px 10px;
  border-bottom: 1px solid hsl(235, 19%, 35%);
}

.descrip {
  margin-top: 3px;
}

.types {
  display: flex;
  justify-content: space-evenly;
}

.all,
.actv {
  padding: 0 8px;
}

.complete-btn {
  background-image: url("images/icon-check.svg"),
    linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center;
}

.complete-text {
  color: hsl(234, 11%, 52%);
  text-decoration-line: line-through;
}

.close-btn {
  position: relative;
  left: 75%;
  display: none;
}

.disp {
  display: block;
}

.itm-left:hover,
.all:hover,
.actv:hover,
.cmpl:hover,
.clear:hover {
  color: white;
}
